<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.lee.mapper">

<insert id="save_member" parameterType="kr.co.lee.membership_dto">
insert into MEMBERSHIP 
values (MNO.nextval,#{MCODE},#{MID},#{MNAME},#{MNICK},#{MPASS},#{MEMAIL},#{MHP},#{MJOIN},SYSDATE)
</insert>

<select id="alldata" resultType="kr.co.lee.membership_dto">
select * from MEMBERSHIP
</select>

<!-- 하나의 데이터만 출력 -->
<select id="onedate" resultType="kr.co.lee.membership_dto">
select * from MEMBERSHIP where MID = #{MID}
</select>


</mapper>