<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>결제 API 연동 및 결제 확정</title>
<script src="https://stgstdpay.inicis.com/stdjs/INIStdPay.js"></script>
</head>
<body>
<form id="frm">
<input type="hidden" name="version" value="1.0">
<input type="hidden" name="gopaymethod" th:value="${pd.gopaymethod}">
<input type="hidden" name="mid" th:value="${mid}">
<input type="hidden" name="oid" th:value="${orderNumber}">
<input type="hidden" name="price" th:value="${pd.price}">
<input type="hidden" name="timestamp" th:value="${timestamp}">
<input type="hidden" name="signature" th:value="${signature}">
<input type="hidden" name="mKey" th:value="${mKey}">
<input type="hidden" name="currency" value="WON">
<input type="hidden" name="buyername" th:value="${pd.buyername}">
<input type="hidden" name="buyertel" th:value="${pd.buyertel}">
<input type="hidden" name="buyeremail" th:value="${pd.buyeremail}">
<input type="hidden" name="goodname" th:value="${pd.goodname}">
<input type="hidden" name="rec_post" th:value="${pd.rec_post}">
<input type="hidden" name="rec_way" th:value="${pd.rec_way}">
<input type="hidden" name="rec_addr" th:value="${pd.rec_addr}">
<input type="hidden" name="returnUrl" value="http://localhost:8080/return_url.jsp">
<input type="hidden" name="closeUrl" value="http://localhost:8080/close.jsp">
<p>상품정보</p>
상품코드 : <span th:text="${pd.goodcode}"></span><br>
상품명 : <span th:text="${pd.goodname}"></span><br>
상품갯수 : <span>[[${pd.goodea}]]</span>EA<br>
결제자명 : <span>[[${pd.buyername}]]</span><br>
연락처 : <span>[[${pd.buyertel}]]</span><br>
이메일 : <span>[[${pd.buyeremail}]]</span><br>
<p>--------------------</p>
최종 결제금액 : <span>[[${pd.price}]]</span><br>
결제수단 : <span>[[${pd.gopaymethod}]]</span><br>
<input type="button" value="결제하기" onclick="paygo()">
</form>
</body>
<script>
function paygo(){
	INIStdPay.pay("frm");
}
</script>





</html>