<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Thymeleaf 샘플 파일</title>
</head>
<!-- 
Thymeleaf : HTML 태그 기준으로 Layout를 설정하므로 markup이 중요한 사항 입니다.
th : Thymeleaf를 사용한다는 tag 이며, fragment : 가상의 이름 (영역처리를 담당하는 역활)

fragment : 같은 이름을 사용할 수 있음 단, 동일한 이름이 발생할 경우 해당 HTML Tag를 모두 가져옴 
-->
<style th:fragment="styles">
.a { width : 100%; height: 100px; background-color: yellow;}
.b { width : 100%; height: 500px; background-color: yellowgreen;}
.c { width : 100%; height: 200px; background-color: orange;}
</style>
<body>
<!-- th:fragment : 매개변수로 값을 이관 받아서 해당 HTML에 JSTL 변수처럼 출력하게 됨 -->
<header class="a" th:fragment="top(aa)">
<!-- 
th:text : Controller에서 Model로 생성된 키명을 출력함 (JSTL방식과 동일함)
 -->
<ul>
<li th:text="${aa}"></li>
<li>거래처 등록</li>
<li>외부 창고 입고</li>
<li>외부 창고 출고</li>
</ul>
</header>
<main th:fragment="main">
<section class="b">
<div th:text="${product}"></div>
<div>거래처 등록 리스트</div>
<div>거래처 등록 추가</div>
</section>
</main>
<footer class="c" th:fragment="copy(copyright)">
<div th:text="${copyright}"></div>
</footer>
</body>
</html>