<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Thymeleaf 중급언어(Controller => Form 적용방식)</title>
</head>
<body>
<!-- 
FORM 전용
th:action : @{경로} 또는 Controller ${변수} 로 적용시키는 방법
th:object : DTO, VO를 이용하여 th:field와 함께 사용합니다.
th:field  : name, id, value DTO, VO 에 맞게 자동생성
 -->
<form id="frm" method="post" th:action="${act_url}" th:object="${result}">
아이디 : <input type="text" name="aa"><br>
데이터값 : <input type="text" th:field="${result.mid}"><br>
데이터값 : <input type="text" th:field="${result.mpass}"><br>
데이터값 : <input type="text" th:field="*{memail}"><br>
<input type="button" value="전송" onclick="abc()">
</form>
<br><br>
<!--  
#numbers.formatInteger : 문자 데이터를 숫자로 변환, 단 특수기능 반올림(소수) 
#numbers.formatDecimal : 소수를 표현하는 속성 (데이터값,최소 정수 자리,최소 소수 자릿수)
-->
최종결제 금액 : <span th:text="${#numbers.formatInteger(money,0,'COMMA')}"></span><br>
최종결제 금액 : <span th:text="${#numbers.formatInteger(money2,0,'COMMA')}"></span><br>
최종결제 금액 : <span th:text="${#numbers.formatDecimal(money2,3,1)}"></span><br>
<!-- COMMA 옵션 사용시: . 대신 , 로 표시 -->
최종결제 금액 : <span th:text="${#numbers.formatDecimal(money2,3,2,'COMMA')}"></span><br>
<br><br>
<!-- max, min : 최대 최소값을 비교하여 가져올 수 있음 -->
<em th:with="maxno = ${T(java.lang.Math).max(5,10)}">
<span>[[${maxno}]]</span>
</em>
</body>
<script>
function abc(){
	if(frm.mid.value==""){
		alert("데이터값 아이디를 입력하세요");
	}
	else{
		frm.submit();
	}
}
</script>
</html>